nav {
	display: block;
	background-color: #BC8F8F;
	overflow: hidden;
	text-shadow: 1px 1px 1px #FFE4E1;
	border-radius: 5px;
	margin-bottom: 5%;
}
nav a {
	float: left;
	color: #000000;
	padding: 15px 20px;
	text-decoration: none;
	border: 0.5px solid black;
	border-radius: 2px;
}
nav a:hover {
	background-color: #E6E6FA;
	color: #708090	;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	float: left;
}
h1{
	font-family: courier;
	font-size:30px;
	text-align: center;
}
table{
	font-family: Geneva;
	font-size:17px;
	text-align: left;
}
h2{
	font-family: Copperplate;
	font-size:24px;
	text-align: center;
}
p{
	text-indent: 45px;
	font-family: Verdana;
	font-size:16px;
	text-align:justify;
}
body{
	background: #ffccff
}
