.jumbotron {
	padding-top: 3rem;
	background-color: #C39BD3;
}
#Experience {
	background-color: #C39BD3; 
}
section{
	padding-top: 2rem
}
h1{
	font-family: courier;
	font-size:30px;
	text-align: center;
}
table{
	font-family: Geneva;
	font-size:17px;
	text-align: left;
}
h2{
	font-family: Copperplate;
	font-size:24px;
	text-align: center;
}
p{
	text-indent: 45px;
	font-family: Verdana;
	font-size:16px;
	text-align:justify;
}
body{
	background: #ffccff
}
